Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.xcworkspace/
*.xcodeproj/
.DS_Store

Content/CityExplorer/Data/Offline/
Tools/__pycache__/

Build/Mac/*.PackageVersionCounter
Build/Mac/FileOpenOrder/
