.godot/
build/*
!build/.gitkeep
.DS_Store
*.ipa
*.xcarchive
export_credentials.cfg

__pycache__/
data/.refresh/
data/source/*.csv*

!data/source/street_trees.csv.gz

!data/source/city_street_trees.csv.gz
